
/* MENU  */
.menu-buttons {
    border: none; 
    background-color: #77B3D4;
    font-size: 20px; 
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 50px; 
    text-align: center;
    height: 45px; 
    width: 220px; 
    text-decoration: none;
    color: black;
    padding-top: 15px; 
    border-bottom: 5px solid grey;
}

.menu-buttons:hover {
    background-color: rgba(119, 179, 212, 0.5);
}

.menu-buttons-container {
  display: inline-block;
}

.menu-header {
  text-align: center;
}

/* HOME */


/* INTERACTIVE MAP  */


/* LOCATION DATA */
